PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

# Critical
{{ ansible_pull.critical_schedule }} {{ ansible_pull.cron_user }} ansible-pull --only-if-changed -d {{ ansible_pull.workdir }}/critical -U {{ ansible_pull.repo_url }} {{ ansible_pull.critical_playbook }} >>{{ ansible_pull.logfile }} 2>&1

# Non critical
{{ ansible_pull.non_critical_schedule }} {{ ansible_pull.cron_user }} ansible-pull --only-if-changed -d {{ ansible_pull.workdir }}/non_critical -U {{ ansible_pull.repo_url }} {{ ansible_pull.non_critical_playbook }} >>{{ ansible_pull.logfile }} 2>&1

# Daily
{{ ansible_pull.daily_schedule }} {{ ansible_pull.cron_user }} ansible-pull --only-if-changed -d {{ ansible_pull.workdir }}/daily -U {{ ansible_pull.repo_url }} {{ ansible_pull.daily_playbook }} >>{{ ansible_pull.logfile }} 2>&1
